
							@font-face {
								font-family: PaytoneOne;
								font-display: swap;
								src: url("../fonts/PaytoneOne.woff2") format("woff2"), url("../fonts/PaytoneOne.woff") format("woff");
								font-weight: 400;
								font-style: normal;

							}

							
							@font-face {
								font-family: SourceSansPro;
								font-display: swap;
								src: url("../fonts/SourceSansPro.woff2") format("woff2"), url("../fonts/SourceSansPro.woff") format("woff");
								font-weight: 400;
								font-style: normal;

							}

							