// file for page null styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $mainFont;
  color: #fff;
  letter-spacing: 1px;
}

html {
  font-size: $pageFontSize;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-family: $titleFont;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: $containerWidth - 20px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.link {
  color: $contentText;
  transition: 150ms;
  &:hover {
    color: $pink;
  }
}

.button {
  @extend %button;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    top: 0;
    left: 0;
    background-color: #ae1497;
    position: absolute;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover:after {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .button,
  .angle-button {
    font-size: rem(16px);
  }
}

@media (max-width: 768px) {
  .button,
  .angle-button {
    font-size: rem(14px);
  }
}

@media (max-width: 425px) {
  .button,
  .angle-button {
    font-size: rem(12px);
  }
}

.angle-button {
  position: relative;
  color: $pink;
  font-family: $titleFont;
  font-size: rem(18px);



  &::before {
    transition: .7s all;
    content: "";
    transform: translateY(-130%);
    top: 0;
    left: 0;
    position: absolute;
    @extend %angle;
  }

  &:hover {
    animation: angle-button-animation 2s infinite;
    animation-delay: 800ms;
    &:before {
      left: -10%;
      transform: rotate(-180deg) translateY(-75%);
      // animation: angle-button-size 600ms 700ms forwards;

    }
  }
}

@keyframes angle-button-animation {
  0% {
    opacity: 1;
  }

  30% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

// @keyframes angle-button-size {
//   20% {
//     width: 15px;
//     height: 15px;
//     border-right: 4px solid $pink;
//     border-top: 4px solid $pink;

//   }

//   100% {
//     transform: translateY(-20%) rotate(-180deg);
//     width: 118%;
//     height: 180%;
//     border: 2px solid $pink;
//   }
// }


.image-viewer {
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  transition: .6s all;
  z-index: 1100;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__img {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__close-btn {
    position: absolute;
    transition: .3s all;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #d400b491;
    }

    & svg {
      max-width: 80%;
    }
  }
}


.full-image {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: .5s all;
  &:hover .view-btn {
    visibility: visible;
    opacity: 1;

  }
}

.view-btn {
  opacity: 0;
  transition: .5s all;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1010;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $titleFont;
  font-size: rem(20px);

  &::before {
    height: 5px;
    width: 100%;
    content: '';
    background-color: $pink;
    bottom: 0%;
    left: 0;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .image-viewer {
    &__img {
      min-width: 300px;
    }

    &__close-btn {
      width: 80px;
      height: 80px;
    }
  }

  .view-btn {
    font-size: rem(14px);
    &::before {
      height: 3px;
    }
  }
}