// fonts
$mainFont: 'SourceSansPro';
$titleFont: 'PaytoneOne';
$pageFontSize: 16px;

// colors
$gray: #262627;
$pink: #D400B3;
$contentText: #E5E5E5;
$black: #0D0D0E;
$lightGray: #858586;


// containers
$containerWidth: 1200px;


%angle {
    width: 15px;
    height: 15px;
    border-right: 4px solid $pink;
    border-top: 4px solid $pink;

}

