.artists {
    background-color: $gray;
    &__header {
        display: flex;
        height: 180px;
        align-items: center;    
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        background-color: $gray;
        width: 50%;
        height: 100%;
        text-align: left;
        padding-left: 15%;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    &__button-text {
        background-color: transparent;
        width: fit-content;
        font-size: rem(18px);
        line-height: 110%;
        margin-top: 10px;
        margin-bottom: 25px;
        color: $pink;
        font-family: $titleFont;

    }

    &__button-content {
        color: $contentText;
        font-size: rem(20px);
        line-height: 160%;
        @extend %textScrollAnim;
        &.scrolled {
            opacity: 1;
            transform: translate(0%, 0%);
        }
    }

    &__title {
        display: flex;
        align-items: center;
        padding-left: calc(80 / 720) * 100%;
        height: 100%;
        width: 50%;
        background-color: $black;
        
    }

    &__title-text {
        font-size: rem(52px);
        position: relative;
        line-height: 120%;
        @extend %titleScrollAnim;
        transform: translate(0, -100%);

        &.scrolled {
            opacity: 1;
            transform: translate(0%, 0%);
        }

    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 40px;
        padding-top: 160px;
        padding-bottom: 165px;
    }

    &__item {
        max-width: 31%;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s ease-in-out;
        transition-delay: 4s;
        opacity: 0;
        transform: translate(0, -15%);
        &.scrolled {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &__item:nth-child(3n + 1).scrolled {
        transition-delay: .2s;
    }

    &__item:nth-child(3n + 2).scrolled {
        transition-delay: .7s;
    }

    &__item:nth-child(3n + 3).scrolled {
        transition-delay: 1.3s;
    }

    &__item-img {
        aspect-ratio: 2 / 1;
        width: 100%;
        & img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__item-avatar {
        transform: translateY(-50%);
        width: 33%;
        aspect-ratio: 1 / 1;
        
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__item-name {
        font-size: rem(32px);
        line-height: 140%;
        margin-bottom: 30px;
        margin-top: -40px;

    }

    &__item-button {
        padding: 7px 38px 13px;
    }
}

@media (max-width: 1024px) {
    .artists {
        &__header {
            height: 150px;
        }

        &__button {
            padding-left: 20px;
        }
    
        &__button-text {
            font-size: rem(16px);
            margin-top: 10px;
            margin-bottom: 25px;
        }
    
        &__button-content {
            font-size: rem(16px);
        }

        &__title {
            justify-content: center;
            padding: 0 10px;
        }
    
        &__title-text {
            text-align: center;
            font-size: rem(46px);
        }

        &__container {
            padding-top: 130px;
            padding-bottom: 135px;
        }
    
    
        &__item-name {
            font-size: rem(28px);
            line-height: 140%;
            margin-bottom: 20px;
            margin-top: -45px;
        }
    
        &__item-button {
            padding: 7px 35px 13px;
        }
    }
}

@media (max-width: 889px) {
    // breakpoint when items came 2 in row
    .artists {
        &__item:nth-child(2n + 1).scrolled {
            transition-delay: .2s;
        }
    
        &__item:nth-child(2n + 2).scrolled {
            transition-delay: .7s;
        }
    }
}

@media (max-width: 595px) {
    // breakpoint when items came 1 in row
    .artists {
        &__item.scrolled {
            transition-delay: .2s;
        }
    }
    
}

@media (max-width: 768px) {
    .artists {
        margin-top: 100px;
        &__header {
            height: 130px;
        }

        &__button {
            padding-left: 10px;
        }
    
        &__button-text {
            font-size: rem(14px);
            margin: 10px auto 20px;
        }
    
        &__button-content {
            font-size: rem(16px);
            text-align: center;
        }
    
        &__title-text {
            font-size: rem(36px);
        }

        &__container {
            padding-top: 100px;
            padding-bottom: 105px;
        }
    
    
        &__item-name {
            font-size: rem(24px);
            margin-bottom: 20px;
            margin-top: -45px;
        }
    }
}

@media (max-width: 576px) {
    .artists {
        &__header {
            flex-direction: column-reverse;
            height: auto;
        }

        &__button {
            width: 100%;
            padding: 10px;
        }

        &__button-content {
            font-size: rem(14px);
        }

        &__button-text {
            margin-top: 20px;
            margin-bottom: 15px;
        }

    
        &__title {
            padding-bottom: 20px;
            width: 100%;
        }

        &__container {
            padding-top: 60px;
            padding-bottom: 65px;
        }
    }
}

@media(max-width: 425px) {
    .artists {
        &__title-text {
            font-size: rem(28px);
        }

        &__button-text {

        }

        &__button-content {
            font-size: rem(12px);
        }
    }
}