.header {
  background-color: $black;
  position: relative;

  &__content {
    min-height: 600px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
  }

  &__container {
    position: relative;
    z-index: 30;
    flex-grow: 1;
    width: 100%;
  }

  &__title {
    font-size: rem(84px);
    line-height: 119%;
    width: 660px;
    transition: 0.8s all ease-in-out;
    transform: translateY(30%);
    opacity: 0;

    &.scrolled {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  &__text {
    margin-top: 22px;
    color: $contentText;
    font-size: rem(20px);
    line-height: 160%;
    width: 640px;
    transform: translateY(80%);
    transition: 0.8s all ease-in-out;
    opacity: 0;
    &.scrolled {
      transform: translateY(0%);
      transition-delay: .4s;
      opacity: 1;
    }
  }

  &__watch-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    max-height: 120px;
    padding: 44px 0 34px 0;
    width: 52%;
    max-height: 120px;
    border: 4px solid transparent;
  }

  &__watch-btn.in {
    animation: watch-btn-border-in 1000ms forwards;
    
  }

  &__watch-btn.out {
    animation: watch-btn-border-out 600ms forwards;
  }

  &__btn-text {
    font-family: $titleFont;
    font-size: rem(32px);
    line-height: 138%;
  }

  &__btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-left: 20px;
    background-color: #fff;
    & img {
      width: 12px;
    }
  }

  &__bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 54vw;
    max-width: 800px;
    z-index: 10;
    & img {
      width: 100%;
    }
  }

  &__bg-element1 {
    position: absolute;
    width: 21%;
    max-width: 160px;
    left: 0;
    top: 50%;
    aspect-ratio: 1 / 1;
    background-color: #000;
    z-index: 15;
  }

  &__bg-element2 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 21%;
    max-width: 160px;
    background-color: $black;
    z-index: 12;
  }

  &__bg-art {
    position: absolute;
    z-index: 1000;
    width: 11%;
    bottom: 15%;
    left: 55%;
    min-width: 120px;
  }
}

.navbar {
  min-height: 60px;
  z-index: 20;
  position: absolute;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    width: 60px;
    & img {
      width: 100%;
    }
  }

  &__nav {
    margin-left: 50px;
    margin-right: 15px;
    display: flex;
    gap: 36px;
    flex-grow: 1;
  }

  &__navlink {
    font-size: rem(18px);
    line-height: 110%;
  }

  &__button {
    padding: 7px 38px;
  }

  &__burger-btn {
    display: none;
    margin-left: auto;
    position: relative;
    width: 35px;
    height: 30px;
    background-color: transparent;
    z-index: 1000;
    & span {
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      background-color: $pink;
    }

    & span:nth-child(1) {
      top: 0%;
    }

    & span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    & span:nth-child(3) {
      bottom: 0%;
    }
  }
}

.burger {
  position: fixed;
  width: 100vw;
  height: 100vw;
  left: 100%;
  top: 0;
  background-color: $gray;
  transition: 400ms ease-in;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  &.active {
    left: 0%;
  }

  &__nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    width: 100%;
  }

  &__navlink {
    font-size: rem(20px);
  }

  &__button {
    padding: 15px 0;
    width: 300px;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__title {
      font-size: rem(56px);
      max-width: 600px;
      width: auto;
    }

    &__text {
      width: auto;
      font-size: rem(18px);
      max-width: 500px;
    }

    &__content {
      margin-top: 90px;
      min-height: 450px;
    }


    &__bg-art {
      left: 80%;
      bottom: 30%;
    }
  }
}

@media (max-width: 768px) {
  .header {
    overflow: hidden;
    &__content {
      margin-top: 70px;
      min-height: 300px;
    }

    &__title {
      font-size: rem(32px);
      margin-right: 0;
    }

    &__text {
      margin-top: 15px;
      font-size: rem(16px);
    }

    &__watch-btn {
      width: 100%;
      padding: 25px 0;
      z-index: 100;
      position: relative;
      border-width: 3px;
    }

    &__btn-text {
      font-size: rem(20px);
      margin-right: 10px;
    }

    &__btn-icon {
      width: 30px;
      height: 30px;
      background-color: #fff;
      & img {
        width: 10px;
      }
    }

    &__bg-element1,
    &__bg-element2 {
      display: none;
    }
  }

  .header-navbar .navbar {
    &__burger-btn {
      display: block;
    }

    &__nav,
    &__button {
      display: none;
    }

    &__navlink {
      font-size: rem(16px);
    }
  }

  .navbar {
    &__nav {
      gap: 25px;
      margin-left: 30px;
    }

    &__logo {
      width: 50px;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__title {
      font-size: rem(24px);
    }

    &__text {
      font-size: rem(12px);
    }

    &__content {
      min-height: 200px;
    }

    &__watch-btn {
      border-width: 2px;
    }
  }

  .burger {
    padding-top: 50px;
    padding-bottom: 30px;

    &__navlink {
      font-size: rem(16px);
    }

    &__button {
      padding: 10px 0;
      width: 250px;
    }
  }
}

@keyframes watch-btn-border-in {
  25% {
    border-top-color:$pink;
  }

  50% {
    border-top-color:$pink;
    border-right-color: #650e58;
  }

  75% {
    border-bottom-color:#650e58;
    border-top-color:$pink;
    border-right-color: #650e58;
  }

  100% {
    border-left-color:$pink;
    border-top-color:$pink;
    border-right-color: #650e58;
    border-bottom-color:#650e58;

  }
}

@keyframes watch-btn-border-out {
  0% {
    border-bottom-color:#650e58;
    border-top-color:$pink;
    border-left-color:$pink;
    border-right-color: #650e58;
  }

  25% {
    border-bottom-color:#650e58;
    border-left-color:$pink;
    border-right-color: #650e58;
  }

  50% {
    border-left-color: #650e58;
    border-bottom-color:#650e58;
  }

  75% {
    border-left-color: #650e58;
  }

  100% {
    border-color: transparent;
  }
}
