.statistics {
    background-color: $gray;
    overflow: hidden;
    padding: 165px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        max-width: 450px;
        width: calc(450px / $containerWidth) * 100%;
        font-size: rem(20px);
        line-height: 160%;
        color: $contentText;
        @extend %textScrollAnim;
        &.scrolled {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        width: 40%;

    }

    &__category {
        display: flex;
        flex-direction: column;
        align-items: center;
        // text-align: center;
        width: 30%;
    }

    &__number {
        font-size: rem(56px);
        font-family: $titleFont;
        display: flex;
        align-items: center;
        & div {
        font-family: $titleFont;

        }
    }

    &__name {
        margin-top: 10px;
        line-height: 125%;
    }
}

@media (max-width: 1024px) {
    .statistics {
        padding: 110px 0;
        &__container {
            flex-direction: column-reverse;
        }
    
        &__text {
            max-width: none;
            text-align: center;
            width: 60%;
            font-size: rem(20px);
            transform: translate(0, 50%);
        }
    
        &__main {
            margin-bottom: 40px;
        width: 90%;
        max-width: 600px;

        }
    
        &__number {
            font-size: rem(50px);
        }
    }
    
    
}

@media (max-width: 768px) {
    .statistics {
        padding: 60px 0;
    
        &__text {
            max-width: 500px;
            width: 90%;
            font-size: rem(14px);
        }
    
        &__main {
            gap: 40px;
            margin-bottom: 25px;
        }
    
        &__number {
            font-size: rem(32px);
        }
    
        &__name {
            margin-top: 8px;
            font-size: rem(14px);
        }
    }
}

@media (max-width: 425px) {
    .statistics {
        padding: 40px 0;
        &__container {

        }
    
        &__text {
            max-width: 500px;
            width: 90%;
            font-size: rem(12px);
        }
    
        &__main {
            gap: 30px;
            margin-bottom: 25px;
        }
    
        &__number {
            font-size: rem(24px);
        }
    
        &__name {
            font-size: rem(12px);
        }
    }
}