@import 'default/vars';
@import 'default/mixins';
@import 'default/nullstyle';
@import 'default/fonts';
@import 'bg-art';
@import 'header';
@import 'footer';

@import 'statistics';


.container {
  max-width: $containerWidth - 20px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

