.trending {
    margin-bottom: 140px;
    &__container {
        display: grid;
        row-gap: 5vw;
        column-gap: 85px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        transition: 1s all ease-in-out .1s;
        opacity: 0;

        &:nth-child(even) {
            transform: translateX(50%);
        } 
        
        &:nth-child(odd) {
            transform: translateX(-50%);
        }   

        &.scrolled {
            transform: translateX(0%); 
            opacity: 1;
        }
    }
   

    &__title {
        margin-bottom: 18px;
        font-size: rem(56px);
        font-family: $titleFont;
        line-height: 123%;
        @extend %titleScrollAnim;

        &.scrolled {
            opacity: 1;
            transform: translate(0%, 0%);
        }
    }

    &__text {
        font-size: rem(20px);
        line-height: 160%;
        color: $contentText;
        @extend %textScrollAnim;

        &.scrolled {
            opacity: 1;
            transform: translate(0%, 0%);
        }
    }

    

    &__item-title {
        font-family: $titleFont;
        font-size: rem(31px);
        line-height: 142%;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
        margin-bottom: 12px;
    }

    &__item-text {
        color: #c4c4c4;
        line-height: 125%;
    }

    &__item-price {
        line-height: 125%;
        color: $pink;
    }

    &__item-image {
        
        position: relative;

        & img {
            width: 100%;
            height: 100%;
        }

        
    }

    &__item-image-bg {
        position: absolute;
        width: 32%;
        right: calc(40 / 555) * 100%;
        bottom:  calc(40 / 450) * 100%;
    }

    &__header-item {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    &__item1 {
        grid-row-start: 2;
        grid-row-end: 9;
    }

    &__item2 {
        grid-row-start: 4;
        grid-row-end: 11;
    }

    &__item3 {
        grid-row-start: 9;
        grid-row-end: 16;
    }

    &__item4 {
        grid-row-start: 11;
        grid-row-end: 18;
    }

    &__item5 {
        grid-row-start: 16;
        grid-row-end: 23;
    }

    &__item6 {
        grid-row-start: 18;
        grid-row-end: 25;
    }

    &__button-item {
        background-color: transparent;
        grid-row-start: 23;
        grid-row-end: 25;
        margin-left: auto;
        width: fit-content;
        height: fit-content;
    }

    &__button {
        color: $pink;
        font-size: rem(18px);
        font-family: $titleFont;
        line-height: 110%;

    }

    &__button-style-elem {
        @extend %angle;
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    .trending {
        margin-bottom: 120px;
        &__title {
            margin-bottom: 15px;
            font-size: rem(46px);
        
        }
    
        &__text {
            font-size: rem(18px);
        }
    
        
    
        &__item-title {
            font-size: rem(28px);
        }
    
        &__item-info {
            margin-top: 5px;
            margin-bottom: 10px;
        }
    
        &__item-text {
            font-size: rem(14px);
        }
    
        &__item-price {
            font-size: rem(14px);
        }

        &__button {
            font-size: rem(16px);
        }

        &__button-style-elem {
            margin-bottom: 5px;
        }
    }
}



@media (max-width: 768px) {
    .trending {
        margin-bottom: 100px;
        &__container {
            row-gap: 6vw;
            column-gap: 40px;
        }

        &__title {
            margin-bottom: 10px;
            font-size: rem(36px);
        
        }
    
        &__text {
            font-size: rem(16px);
        }
    
        
    
        &__item-title {
            font-size: rem(24px);
        }
    
        &__item-info {
            margin-bottom: 8px;
        }
    
        &__item-text {
            font-size: rem(12px);
        }
    
        &__item-price {
            font-size: rem(12px);
        }

        &__button {
            font-size: rem(12px);
        }

        &__button-style-elem {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 576px) {
    
    .trending {
        margin-bottom: 60px;
        .container {
            grid-template-columns: 1fr !important;
        }

        &__item1, &__item2, &__item3, &__item4, &__item5, &__item6, &__button-item, &__header-item {
            grid-row-start: auto;
            grid-row-end: auto;
        }

        &__title {
            text-align: center;
        
        }
    
        &__text {
            text-align: center;
        }

        &__button-item {
            margin-left: 0;
        }
    }
}

@media (max-width: 425px) {
    .trending {
        &__title {
            margin-bottom: 8px;
            font-size: rem(28px);
        
        }
    
        &__text {
            font-size: rem(14px);
        }
    }
    
}